# excluding all .idea folders
/db-tasks/ruby/.idea/
/processing-tasks/stock-processor/.idea/
/processing-tasks/dj_yahoo_finance/.idea/

# excluding .pyc files
*.pyc

# excluding the .html reports in the 'reports' folder
/processing-tasks/stock-processor/reports/*.html
